//
// Header
//

header {
}

// Responsive nav
@include breakpoint-down(md) {
  .nav-label {
    padding: 0.375rem 0.674rem;
    transform: rotate(90deg);
    font-size: 1.25rem;
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;

    &::before {
      content: '|||';
    }
  }

  .nav {
    overflow: hidden;
    max-height: 0;
  }
}
