:root {
  --colour-red: red;
  --colour-orange: orange;
  --colour-yellow: yellow;
  --colour-green: green;
  --colour-blue: blue;
  --colour-indigo: indigo;
  --colour-violet: violet;
  --colour-black: black;
  --colour-grey: grey;
  --colour-white: white;
}
