{{> header }}

<div class="bg-primary text-light py-5">
  <div class="container py-5">
    <h1 class="display-5">Front end boilerplate</h1>
    <p class="lead">Modern, optimised, minimal front end boilerplate; installed and kept up to date via Node package manager.</p>
  </div>
</div>

{{> footer }}
