//
//  Container
//
.container {
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint('xs') {
    width: 100%;
  }

  @include breakpoint('sm') {
    width: 768px;
  }

  @include breakpoint('md') {
    width: 992px;
  }

  @include breakpoint('lg') {
    width: 1200px;
  }
}

.main {
  .container {
    padding-top: ($container-padding * 3);
    padding-bottom: ($container-padding * 3);
  }
}

//
//  Text align
//
.align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}
