//
// Container widths and default padding
//

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint-up('xs') {
    width: 100%;
  }

  @include breakpoint-up('sm') {
    width: 768px;
  }

  @include breakpoint-up('md') {
    width: 992px;
  }

  @include breakpoint-up('lg') {
    width: 1200px;
  }
}
