//
// Container widths and default padding
//

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint-down('xs') {
    width: 100%;
  }

  @include breakpoint-up('xs') {
    width: breakpoint('xs');
  }

  @include breakpoint-up('sm') {
    width: breakpoint('sm');
  }

  @include breakpoint-up('md') {
    width: breakpoint('md');
  }

  @include breakpoint-up('lg') {
    width: breakpoint('lg');
  }
}

// Force full width outside of container
.breakout {
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
}
