//
// Flex classes
//

.flex {
  display: flex;
  margin: 0 -1rem;
  
  &.wrap {
    flex-wrap: wrap;
  }
}

// Main and aside content for general page, using golden ratio from 768px and upwards
[class*=content-] {
  margin: 1rem 0 0;
  padding: 0 1rem;
  flex-grow: 1;

  &[class*=main] {
    flex: 62.8%;
    flex-basis: (1024rem * 0.628 / 17); // Golden ratio at >= 992px
  }
  
  &[class*=aside] {
    flex: 38.2%;
    flex-basis: (1024rem * 0.382 / 17); // Golden ratio at >= 992px
  }
}
