//
//  Opinionated defaults
//
nav,
.navigation,
.nav-item {
  @include breakpoint('sm') {
    display: flex;
  }
}

.navigation {
  padding: 0;
  list-style: none;
  align-items: center;
  width: 100%;
}

.nav-item {
  padding: 0.5rem 1rem;
  text-decoration: none;
}
