//
//  Global defaults
//
html {
  line-height: $font-line-height;
  font-family: $font-family;
  color: $font-color;
  font-size: $font-size;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-heading;
  font-weight: normal;
}

b,
strong {
  font-family: $font-family-bold;
  font-weight: normal;
}

a {
  color: color(blue);
}
