</main>

<footer class="footer pt-3 pb-5">
  <div class="container border-top pt-4">
    <p><a href="//jamesmonk.me" target="_blank">James Monk</a> &copy; <span class="year"></span></p>
  </div>
</footer>

<script defer src="/js/main.js"></script>

</html>
