<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{> meta }}

<style>{{> global/css }}</style>
<!-- shortcut::dist/img/favicon.png -->
<link rel="stylesheet" href="/css/main.css" media="print" onload="this.media='all'; this.onload=null;">

</head>
<body>

<div class="hidden">{{> global/sprite }}</div>

<a class="visually-hidden-focusable" href="#main">Skip to main content</a>

<header>
  {{> nav }}
</header>

<main id="main">
