function loadFont(t,n,e,o){var a=navigator.userAgent;if(!(!window.addEventListener||a.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!a.match(/Chrome/))){var s={};try{s=localStorage||{}}catch(t){}var r="x-font-"+t,c=r+"url",f=r+"css",i=s[c],l=s[f],d=document.createElement("style");if(d.rel="stylesheet",document.head.appendChild(d),!l||i!==n&&i!==e){var u=e&&function(){if(!window.FontFace)return!1;var t=new FontFace("t",'url("data:application/font-woff2,")format("woff2")',{}),n=t.load();try{n.then(null,function(){})}catch(t){}return"loading"===t.status}()?e:n,p=new XMLHttpRequest;p.open("GET",u),p.onload=function(){200<=p.status&&p.status<400&&(s[c]=u,s[f]=p.responseText,o||(d.textContent=p.responseText))},p.send()}else d.textContent=l}}loadFont("Open Sans Regular","/css/fonts.woff.css","/css/fonts.woff2.css");
