blockquote {
   quotes: '“' '”';

  + * {
    margin-top: var(--container-spacing);
  }
  
  > :first-child::before {
    content: open-quote;
  }

  > :has(+ cite)::after {
    content: close-quote;
  }

  cite {
    display: block;
    margin-top: calc(var(--container-spacing) / 2);
  }
}
