:root {
  --container-spacing: 2.5rem;
}

header,
footer,
main {
  margin: 0 auto;
  max-width: calc(var(--container-spacing) * 30);
  padding-left: calc(var(--container-spacing) / 2);
  padding-right: calc(var(--container-spacing) / 2);
}

header,
footer,
section,
article {
  padding-bottom: var(--container-spacing);
  padding-top: var(--container-spacing);
}
