main {
  ul,
  ol {
    + * {
      margin-top: var(--container-spacing);
    }

    ul,
    ol {
      margin: calc(var(--container-spacing) / 2) 0 calc(var(--container-spacing) / 2) calc(var(--container-spacing) / 2);
    }
  }

  ul {
    li::before {
      content: '• ';
    }

    ul {
      li::before {
        content: '◦ ';
      }
    }
  }

  ol {
    list-style: none;
    counter-reset: ordered-list;

    > li {
      counter-increment: ordered-list;
    }

    > li::before {
      content: counters(ordered-list, '.') '. ';
    }
  }
}
