{{> ./partials/header }}

<main id="main">
  <div class="container">
    <h2>Header 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <blockquote>
      <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
    </blockquote>
    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
    <div class="flex">
      <div class="col">
        <ul>
          <li>Aliquam lorem ante,</li>
          <li>dapibus in,</li>
          <li>viverra quis,</li>
          <li>feugiat a, tellus.</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>Aliquam lorem ante,</li>
          <li>dapibus in,</li>
          <li>viverra quis,</li>
          <li>feugiat a, tellus.</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>Aliquam lorem ante,</li>
          <li>dapibus in,</li>
          <li>viverra quis,</li>
          <li>feugiat a, tellus.</li>
        </ul>
      </div>
    </div>
    <h3>Header 3</h3>
    <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
    <p>Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
    <ol>
      <li>Aliquam lorem ante,</li>
      <li>dapibus in,</li>
      <li>viverra quis,</li>
      <li>feugiat a, tellus.</li>
    </ol>
    <h4>Header 4</h4>
    <p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
  </div>
</main>

{{> ./partials/footer }}
