{{> ./partials/header }}

<div class="container">
  <div class="flex wrap">
    <div class="content-main">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique est venenatis sapien efficitur, in posuere lectus egestas. Nulla tortor nibh, elementum ut tortor sed, ultricies accumsan odio. Nam vestibulum felis ut mattis viverra. Phasellus eros odio, accumsan in felis non, aliquet malesuada tellus. Aliquam a ligula eget magna accumsan rhoncus. Suspendisse ante sapien, rutrum ac rutrum sit amet, pretium eu dui. Nam accumsan, justo sit amet imperdiet facilisis, orci nisl pretium nisi, et tempor erat felis ac purus. Integer aliquam dui id lacus euismod, a ornare nisl lacinia. Nullam hendrerit sapien libero. Phasellus venenatis neque ante, eu gravida enim finibus ut. Nam at lacus magna. In ut lorem eu velit egestas commodo. Maecenas lobortis leo auctor metus placerat tempor. In non nulla accumsan, vulputate urna eget, consectetur tellus. Etiam rutrum finibus augue, dapibus semper nunc ullamcorper non. Praesent facilisis commodo dictum.</p>
      <p>Duis at magna in sapien mollis commodo pharetra et neque. Aliquam posuere velit et est semper porta. Fusce felis turpis, tristique aliquam erat sit amet, tempus vehicula elit. Morbi non tempus ex. Phasellus id egestas eros. Proin gravida tortor nisi, in egestas sem facilisis sit amet. Integer non tortor a mi porta tincidunt vel a arcu. Nulla bibendum ligula risus, et convallis turpis mattis vel. Cras venenatis, lorem sollicitudin aliquam convallis, nisi augue rutrum risus, non placerat ex velit eget massa. Duis a ligula et neque volutpat auctor. Curabitur non suscipit arcu. Nunc id maximus risus, sit amet ultricies elit. Sed vulputate risus sit amet justo tincidunt sodales vel quis massa. Proin egestas, augue quis euismod tincidunt, tellus urna dictum metus, vel luctus metus ipsum venenatis libero. Nullam ultrices luctus condimentum. In eget efficitur sem.</p>
    </div>
    <div class="content-aside">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique est venenatis sapien efficitur, in posuere lectus egestas. Nulla tortor nibh, elementum ut tortor sed, ultricies accumsan odio. Nam vestibulum felis ut mattis viverra. Phasellus eros odio, accumsan in felis non, aliquet malesuada tellus. Aliquam a ligula eget magna accumsan rhoncus. Suspendisse ante sapien, rutrum ac rutrum sit amet, pretium eu dui. Nam accumsan, justo sit amet imperdiet facilisis, orci nisl pretium nisi, et tempor erat felis ac purus. Integer aliquam dui id lacus euismod, a ornare nisl lacinia. Nullam hendrerit sapien libero. Phasellus venenatis neque ante, eu gravida enim finibus ut. Nam at lacus magna. In ut lorem eu velit egestas commodo. Maecenas lobortis leo auctor metus placerat tempor. In non nulla accumsan, vulputate urna eget, consectetur tellus. Etiam rutrum finibus augue, dapibus semper nunc ullamcorper non. Praesent facilisis commodo dictum.</p>
      <p>Duis at magna in sapien mollis commodo pharetra et neque. Aliquam posuere velit et est semper porta. Fusce felis turpis, tristique aliquam erat sit amet, tempus vehicula elit. Morbi non tempus ex. Phasellus id egestas eros. Proin gravida tortor nisi, in egestas sem facilisis sit amet. Integer non tortor a mi porta tincidunt vel a arcu. Nulla bibendum ligula risus, et convallis turpis mattis vel. Cras venenatis, lorem sollicitudin aliquam convallis, nisi augue rutrum risus, non placerat ex velit eget massa. Duis a ligula et neque volutpat auctor. Curabitur non suscipit arcu. Nunc id maximus risus, sit amet ultricies elit. Sed vulputate risus sit amet justo tincidunt sodales vel quis massa. Proin egestas, augue quis euismod tincidunt, tellus urna dictum metus, vel luctus metus ipsum venenatis libero. Nullam ultrices luctus condimentum. In eget efficitur sem.</p>
    </div>
  </div>
</div>

{{> ./partials/footer }}
