{{> ./partials/header }}

<div class="home-hero">
  <div class="container">
    <img src="/img/home-hero.jpg" alt="">
  </div>
</div>

<div class="container">
  <div class="flex">
    <div class="col-6">
      <h2>Featured stories</h2>
      <img src="/img/home-hero.jpg" alt="">
      <p class="title-large">La Choza: Aoife Sweeney &amp; Annie Gelpey</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="flex">
    <div class="col-4">
      <h2>Featured stories</h2>
      <img src="/img/home-hero.jpg" alt="">
      <p class="title-large">La Choza: Aoife Sweeney &amp; Annie Gelpey</p>
    </div>
    <div class="col-4">
      <h2>Featured stories</h2>
      <img src="/img/home-hero.jpg" alt="">
      <p class="title-large">La Choza: Aoife Sweeney &amp; Annie Gelpey</p>
    </div>
    <div class="col-4">
      <h2>Featured stories</h2>
      <img src="/img/home-hero.jpg" alt="">
      <p class="title-large">La Choza: Aoife Sweeney &amp; Annie Gelpey</p>
    </div>
  </div>
</div>

{{> ./partials/footer }}
