</main>

<footer class="footer">
  <div class="container">
    <div class="flex-bottom">
      <div class="col">
        <h2>Footer</h2>
        <p>Lorem ipsum sit dolor amet</p>
      </div>
      <div class="col align-right">
        <a href="#" class="icon-link">
          <svg class="icon">
            <title>Facebook</title>
            <use xlink:href="#facebook-square"></use>
          </svg>
        </a>
        <a href="#" class="icon-link">
          <svg class="icon">
            <title>Twitter</title>
            <use xlink:href="#twitter-square"></use>
          </svg>
        </a>
        <a href="#" class="icon-link">
          <svg class="icon">
            <title>YouTube</title>
            <use xlink:href="#youtube-square"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

<script>{{> ./global/js }}</script>
<script>{{> ./global/loadjs.min.mustache }}loadjs('/js/main.js');</script>

</html>
