</main>

<footer id="footer">
  <div class="container">
    <h2>Heading 2</h2>
    <nav>
      <ul>
        <li><a href="#">Nav item</a></li>
        <li><a href="#">Nav item</a></li>
        <li><a href="#">Nav item</a></li>
        <li><a href="#">Nav item</a></li>
      </ul>
    </nav>
  </div>
</footer>

<script>{{> ./global/loadjs.min.mustache }}loadjs('/js/main.js');{{> ./global/js }}</script>

</html>
