<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Meta description">
  <meta name="keywords" content="meta, tags">
  <title>Site title</title>

  <script>{{> ./global/fontlocalstorage }}</script>
  <style>{{> ./global/css }}</style>

  <link rel="preload" href="/css/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <script>{{> ./global/cssrelpreload.min.mustache }}</script>
</head>
<body>

<div class="hidden">{{> ./global/sprite }}</div>

<a href="#main" class="screenreader focusable" tabindex="0">Skip to main content</a>

<header>
  <div class="container">
    <h1>Header 1</h1>
    <nav>
      <ul class="navigation">
        <li class="active">
          <a href="/">Home <span class="screenreader">(current)</span></a>
        </li>
        <li>
          <a href="#">Nav item</a>
        </li>
        <li>
          <a href="#">Nav item</a>
        </li>
        <li>
          <a href="#">Nav item</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
