@import 'colors';
@import 'breakpoints';
@import 'maps';

$font-size: 1rem;
$font-color: color('text');
$font-family: 'Open Sans Regular';
$font-family-bold: 'Open Sans Regular';
$font-family-heading: $font-family-bold;
$font-line-height: 1.4;

$container-padding: 1rem;
$flex-columns: 12;

$icon-size: 2.5rem;
